// Colors used in category elements
$my-red: #ff5b5b;
$pastel-orange: #ff915b;
$my-orange: #ffbe5b;
$light-gold: #ffdf5b;
$kiwi-green: #8fe360;
$weird-green: #57e690;
$sea-blue: #57dbe6;

$link-color: #cfb995;
