// Colors used in category elements
$my-red: #ff5b5b;
$pastel-orange: #ff915b;
$my-orange: #ffbe5b;
$light-gold: #ffdf5b;
$kiwi-green: #8fe360;
$weird-green: #57e690;
$sea-blue: #57dbe6;
$tea: #68b680;
$light-forest-green: #46915d;
$lightish-red: #ff3750;
$faded-red: #ce2c40;
$macaroni-and-cheese: #f3a536;
$dodger-blue: #36aef3;
$tomato: #f33636;

$link-color: #cfb995;
$link-border-color: #d1bb91;

// Colors used in the input field
$input-color: #b2b2b2;
$input-color__focus: #000000;

$white-two: #ffffff;
$white-three: #ecebe9;
$black-two: #313131;